{% extends 'pages/index.html' %}
{% load static %}
{% block content %}

<div class="container border border-secondary mb-5 bg-body-secondary rounded px-5" style="width: 60rem;">
    <h1 class="heading text-center fw-bolder">ADD CUSTOMER</h1>
        <div class="row" style="font-size:1.5rem;">
            <div class="col">
                 <form action="" method="POST" enctype="multipart/form-data" class="form">
                     {% csrf_token %}
                     {{form}}
                    <br>
                     <input class="btn btn-secondary" type="submit" id="submit" name="Submit">
                </form>
            </div>
        </div>
</div>
{% endblock %}