{% extends 'pages/index.html' %}
{% load static %}
{% block content %}

  <div class="container border border-secondary mb-4 mt-4 bg-body-secondary rounded px-5" style="width: 60rem;">
    <h1 class="heading text-center fw-bold">Update Package</h1>
  <div class="container" style="font-size:1.5rem; width:50rem">

      <form action="" method="POST">
          {% csrf_token %}
          {{form}}
          <br>
      <input class="btn btn-secondary" type="submit" id="updateBtn" name="Update">
      </form>
       <br>
  </div>
</div>
{% endblock %}