{% extends 'pages/index.html' %}
{% load static %}
{% block content %}
<section id="about">
    <div class="container border border-secondary mb-5 bg-body-secondary rounded px-5" style="width: 60rem;">
        <div class="row gx-4 align-items-center justify-content-center">
            <div class="col-lg-8" style="font-size: large;">
                <h1 class="heading text-center" style=" font-weight: bold;">Hair Service Information</h1>
                <p>Name: {{hair.hairservice_name}}</p>
                <p>Price: ₱{{hair.price}}</p>
                <a href="{% url 'homePage' %}"><button class="btn btn-secondary">Back</button></a>
                <br>
            </div>
        </div>
    </div>
</section>
{% endblock %}